<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <div id="main_container">
      <div id="main_left">
        <div class="top_block">
          <div id="mio_utente">
            <a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="mio_avatar"></a>
            <a href="#"><div>Nome Utente</div></a>
          </div>
          <div class="icons_top">
            <a href="#"><i class="fas fa-circle-notch"></i></a>
            <a href="#"><i class="fas fa-comment-alt"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
        <div id="notifiche_blu">
          <div id="campanella">
            <i class="far fa-bell-slash"></i>
          </div>
          <div id="testo_notifiche">
            Ricevi notifiche di nuovi messaggi <br>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div id="search_bar">
          <button type="button" name="button">
            <i class="fas fa-search"></i>
          </button>
          <input placeholder="Cerca o inizia una nuova chat"
          v-model="searchText" @keyup="filterContacts">
        </div>
        <div id="chat_aperte">
          <div v-for="contact,index in contacts"
          :class="(index == activeContactIndex) ? 'active' :''"
          @click="setActiveContactIndex(index)"
          class="li"
          v-if="contact.visible == true"
          >
          <img :src="contact.avatar" alt="avatar">
          <div class="testo_contatti">
            <div class="nome_contatto">{{ contact.name }}</div>
          </div>
          </div>
        </div>
      </div>

      <div id="main_right">
        <div class="top_block">
          <div id="utente_destinatario">
            <a href="#">
              <div class="tiziano" :style="{backgroundImage:'url('+ contacts[activeContactIndex].avatar +')'}"></div>
            </a>
            <a href="">{{ contacts[activeContactIndex].name }}</a>
          </div>
          <div class="icons_top">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
        <div id="spazio_messaggi">
          <div class="li_message"
           v-for="message in contacts[activeContactIndex].messages"
           :class="{'sent': message.status == 'sent', 'received': message.status == 'received'}"
          >
            {{ message.text }}
            <div class="data_messaggio">{{ message.date }}</div>
          </div>
        </div>
        <div id="scrivi_messaggio">
          <a href="#"><i class="far fa-smile"></i></a>
          <input type="text" name="" value="" placeholder="Scrivi un messaggio" v-model='newMessage' @keydown.enter="funzioneAggiungi">
          <a href="#"><i class="fas fa-microphone"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js" charset="utf-8"></script>

</body>
</html>
