* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,  #9c9e9f 0%,#9c9e9f 20%,#f6f6f6 20%,#f6f6f6 80%);
}
#main_container {
  width: 80%;
  height: 93%;
  font-size: 0;
}
#main_left {
  width: 35%;
  height: 100%;
  background-color: blue;
  display: inline-block;
}
#main_right {
  width: 65%;
  height: 100%;
  background-color: green;
  display: inline-block;

}
